include includes/header.pug
.jumbotron.contact-us-banner
  .container
    center
      h1.header-title feel free to contact us
      p.tagline Our process is meant to be easy and painless
include includes/footer.pug