include includes/header.pug
.jumbotron
  .container
    center
      h1.header-title Here are some questions you may have.
      p.tagline Our process is meant to be easy and painless
include includes/footer.pug