include includes/header.pug
.jumbotron.how-it-works-banner
  .container
    center
      h1.header-title This is how it works
      p.tagline Our process is meant to be easy and painless

.container.how-it-works-container
 .row 
  .col-lg-12.col-md-12.col-sm-12 
   h2.how-it-work-heading Yes, You Can Sell Your House Fast!
   span.how-it-work-heading-paragraph There is no catch. Express Homebuyers can show you how to sell your house fast in three easy steps. Whether or not you’re in the Washington DC or South Florida area, we buy houses with cash in just days. Sounds too good to be true right?  You’re not alone, most people aren’t even aware of the home buying market and that selling to a home buying company is even an option.Since 2003 we’ve purchased over 2,200 homes, helping our clients to get on with their lives in the fastest and most convenient way possible.


 .row 
  .col-lg-12.col-md-12.col-sm-12 
   h2.how-it-work-heading You receive a fair offer over the phone in minutes.
   span.how-it-work-heading-paragraph  Because of our experience, we are able to quickly do a market analysis and get you an offer. You can choose to accept the offer range without any high-pressure sales tactics. If you accept the offer range, then we’ll schedule a time to visit your home.

 .row 
  .col-lg-12.col-md-12.col-sm-12 
   h2.how-it-work-heading Review details at your home
   span.how-it-work-heading-paragraph verifying all the information we spoke about on the phone. There is no need to clean or repair anything. We answer all of your questions and confirm every detail. At that time, you receive a written offer and outline everything we’ll do to complete the purchase of your home.


 .row 
  .col-lg-12.col-md-12.col-sm-12 
   h2.how-it-work-heading You choose your settlement date and we buy your house. 
   span.how-it-work-heading-paragraph That’s it! We’ll work with your schedule and take care of all the details for you. You just simply show up, sign the paperwork, and you’ll receive your cash within 24 hours. Again, we can do this because we’ve spent 15 years developing a system that makes it easy for you.



include includes/footer.pug