include includes/header.pug
.jumbotron
  .container
    center
      h1.header-title This is how it works
      p.tagline Our process is meant to be easy and painless

.container.how-it-works-container
 .row 
  .col-lg-6.col-md-6.col-sm-12 
  center
   h2.how-it-work-heading Yes, You Can Sell Your House Fast!
   span.how-it-work-heading-paragraph There is no catch. Express Homebuyers can show you how to sell your house fast in three easy steps. Whether or not you’re in the Washington DC or South Florida area, we buy houses with cash in just days. Sounds too good to be true right?  You’re not alone, most people aren’t even aware of the home buying market and that selling to a home buying company is even an option.Since 2003 we’ve purchased over 2,200 homes, helping our clients to get on with their lives in the fastest and most convenient way possible.


include includes/footer.pug