include includes/header.pug
.jumbotron
  .container
    center
      h1.header-title We Pay Cash for Houses
      p.tagline The RocketHomeOffer home buying process is fast and simple
      .input-group.mb-3.col-md-5
        .input-group-prepend
          span#inputGroup-sizing-default.input-group-text
        input.form-control(placeholder='Enter Your Home Address' type='text' aria-label='Default' aria-describedby='inputGroup-sizing-default')
      ul.nav
        li
          span
            a.btn.btn-primary.btn-lg.form-control-search(href='#' role='button') Search
.row
  .col-lg-12
    center
      h2.bodySectionHeadline The RocketHomeOffer 3 Step Process
section.features-icons.bg-light.text-center
  .container
    .row
      .col-lg-4
        a(href='https://placeholder.com')
          img(src='http://via.placeholder.com/304x203')
        h3 Call or Submit Your Information
        p.lead.mb-0 Get a Fair &ldquo;As-Is&rdquo; Cash Offer In Minutes
      .col-lg-4
        a(href='https://placeholder.com')
          img(src='http://via.placeholder.com/304x203')
        h3 Meet With Us At Your Home
        p.lead.mb-0 Our Home Buying Specialist Will Answer Any Questions
      .col-lg-4
        a(href='https://placeholder.com')
          img(src='http://via.placeholder.com/304x203')
        h3 Choose Your Closing Date
        p.lead.mb-0 Sell Your House Fast. Stress Gone. Cash In Hand
section.middle-cta
  .container
    .row
    center
      .col-lg-12.col-md-12.col-sm-12.
      h2 Get your fair cash offer today
      ul.nav
        li
          span
            a.btn.btn-primary.btn-lg.form-control-search(href='#' role='button') Get Cash Offer
.row.case-study
  .container
      .col-lg-12
        h2 Featured Client Story
section
  .container
    .row
      .col-lg-5
        img.img-fluid.rounded.mb-4(src='http://placehold.it/450x300' alt='')
      .col-lg-6
        h2 About Modern Business
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?

// Testimonials
section.testimonials.text-center.bg-light
  .container
    .row
      .col-lg-12
        .testimonial-item.mx-auto.mb-5.mb-lg-0
          img.img-fluid.rounded-circle.mb-3(src='http://via.placeholder.com/100x100' alt='')
          h5 Margaret E.
          p.font-weight-light.mb-0 &quot;This is fantastic! Thanks so much guys!&quot;
section.middle-cta.bottom
  .overlay
  .container
    .row
    center
      .col-xl-9.mx-auto.newsletter-cta-headline
        h2.mb-4 Newsletter Sign up now
        form
          .form-row
            .col-6.col-md-3
              input.form-control.form-control-lg(type='email' placeholder='Enter your First Name')
            .col-6.col-md-3
              input.form-control.form-control-lg(type='email' placeholder='Enter Last your Name')
            .col-6.col-md-3
              input.form-control.form-control-lg(type='email' placeholder='Enter your email')
            .col-6.col-md-2
              button.btn.btn-block.btn-lg.btn-primary(type='submit') Sign up!
include includes/footer.pug
