include includes/header.pug
.jumbotron
  .container
    center
      h1.header-title We Pay Cash for Houses!
      p.tagline The RocketHomeOffer home buying process is fast and simple
      .input-group.mb-3.col-md-5
        .input-group-prepend
          span#inputGroup-sizing-default.input-group-text
        input.form-control(value='Enter Your Home Address' type='text' aria-label='Default' aria-describedby='inputGroup-sizing-default')
      ul.nav
        li
          span
            a.btn.btn-primary.btn-lg.form-control-search(href='#' role='button') Search
.row
  .col-lg-12
    center
      h2.bodySectionHeadline The RocketHomeOffer 3 Step Process
section.features-icons.bg-light.text-center
  .container
    .row
      .col-lg-4
        a(href='https://placeholder.com')
          img(src='http://via.placeholder.com/304x203')
        h3 Call or Submit Your Information
        p.lead.mb-0 Get a Fair &ldquo;As-Is&rdquo; Cash Offer In Minutes
      .col-lg-4
        a(href='https://placeholder.com')
          img(src='http://via.placeholder.com/304x203')
        h3 Meet With Us At Your Home
        p.lead.mb-0 Our Home Buying Specialist Will Answer Any Questions
      .col-lg-4
        a(href='https://placeholder.com')
          img(src='http://via.placeholder.com/304x203')
        h3 Choose Your Closing Date
        p.lead.mb-0 Sell Your House Fast. Stress Gone. Cash In Hand
section.middle-cta
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
.row.case-study
  .container
    center
      .col-lg-12
        h2 Featured Client Story
section
  .container
    .row.align-items-center
      .col-lg-6
        .p-5
          img.img-fluid(src='http://via.placeholder.com/500x300' alt='')
      .col-lg-5
        .p-5
          h2.display-4 The home at 2077 Minnie S, Hayward, CA
          p.display-4-copy
            Milton Stultz was the Owner of the Home! When he passed his niece leased the house to some folks who tore it up, did not pay the mortgage and had the house going to foreclosure. We came in, contacted the heirs, flew to St Louis, MO to get signatures and agreements,rehabbed the house, sold it, paid off the mortgage and other bills related to the home and divided what was remaining with the heirs.
// Testimonials
section.testimonials.text-center.bg-light
  .container
    .row
      .col-lg-12
        .testimonial-item.mx-auto.mb-5.mb-lg-0
          img.img-fluid.rounded-circle.mb-3(src='http://via.placeholder.com/304x203' alt='')
          h5 Margaret E.
          p.font-weight-light.mb-0 &quot;This is fantastic! Thanks so much guys!&quot;
section.middle-cta.bottom
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
include includes/footer.pug